<!DOCTYPE html>
<html lang="en" data-ng-app="angular-lessons">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.css">
	<link rel="stylesheet" href="styles/css/style.css">
	<title>Angular1-lessons</title>
</head>

<body data-ng-controller="myData" data-ng-cloak>
	<header class="row">
		<h1 class="columns small-6">{{::myData.user}}'s to-do List 
		</h1>
		<div class="columns small-6 label-container"
			 data-ng-if="incompleteCount(myData.items)">
		Remaining notes: 
			<span class="text-right label round " 
				data-ng-class="warningLevel(myData.items)">{{incompleteCount(myData.items)}}
			</span>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="large-6 medium-8 small-12 columns">
			    <div class="input-group">
                    <span class="input-group-label">Add Description</span>
                    <input type="text" 
                         id="addDescription" 
                         ng-model="newItem.action"
                         class="input-group-field">
                    <div class="input-group-button">
                        <input type="submit" 
                               ng-disabled="!newItem.action"
                               data-ng-click="addNewItem(myData.items, newItem)"
                               class="button"
                               value="Add">
                    </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<table>
					<thead>
						<tr>
							<th width="100">Checked</th>
							<th>Description</th>
							<th>Done</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="item in myData.items | checkedItems: showComplete | orderBy: 'action'">
							<td>
								<input type="checkbox" ng-model="item.done" >
							</td>
							<td data-ng-bind="item.action"
							    ng-class="{'done': item.done}">
				            </td>
							<td data-ng-class="{'red' : !item.done, 'lime' : item.done}" data-ng-bind="item.done ? 'Yes' : 'No'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
		    <div class="small-6 columns">
                <span>Show complete</span>
		        <input type="checkbox"  ng-model="showComplete">
		        
		    </div>
		</div>
	</div>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>