main {
    @include flex-grid-row(
        $columns: 12
    );
    
    header {
        @include flex-grid-column(12);
    }
        
}

body {
  padding-top: 30px;
}

h1 {
  color: $white;
}


.warning-color {
	&, & td {
		background: $warning;
		color: $white;
	}
	
}
.done-color {
	&, & td  {
		background: $lime-green;
		color: $white;
	}
}


input[type^="che"] {
	$form-spacing: lines(1) !global;
	@include foundation-form-checkbox;
}