@import "../../bower_components/foundation-sites/scss/foundation";
@import "variables";
@import "global";

body {
	padding-top: 30px;
	background: $body-background;
	
	 header {
		margin-bottom: 12px !important;
		display: flex;
		align-items: center;
		
		h1 {
			color: $white;
		}
		
		.label-container {
			text-align: right;
			color: $white;
		}
	}
	
	> .container {
        padding-top: 30px;
		background: $white;
		@include grid-row;
	} 
	
}

.red {
  background: $red;
}

.lime {
  background: $lime-green;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


table {
	width: 100%;
}



*:disabled {
	opacity: .5 !important;
	cursor: not-allowed !important;
}

.done {
    text-decoration: line-through;
}

.photo {
    margin-right: lines(1);
    height: lines(3);
    width: lines(3);
    background: $white;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    
}


