@import "../../bower_components/foundation-sites/scss/foundation";


//colors

$green: #7F993A;
$dark-blue: #1A9CB0;
$white: #fff;
$gray: #999;
$blue:  #39C2D7;
$plume: #8E244D;
$warning: $plume;
$lime: transparentize($green, .8);
$red: #f7b1b1;
$body-background: $gray;
$badge-background: #9a3030;

//font-size




body {
	padding-top: 30px;
	background: $body-background;
	
	> header {
		background: $blue !important;
		margin-bottom: 12px !important;
		display: flex;
		align-items: center;
		
		h1 {
			color: $white;
		}
		
		.label-container {
			text-align: right;
			color: $white;
		}
	}
	
	> .container {
        padding-top: 30px;
		background: $white;
		@include grid-row;
	} 
	
}

.red {
  background: $red;
}

.lime {
  background: $lime;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


table {
	width: 100%;
}



*:disabled {
	opacity: .5 !important;
	cursor: not-allowed !important;
}

.done {
    text-decoration: line-through;
}
