$green: #7F993A;
$dark-blue: #1A9CB0;
$white: #fff;
$gray: #999;
$blue:  #39C2D7;
$plume: #8E244D;
$warning: $plume;
$lime: transparentize($green, .8);
$red: #f7b1b1;
$body-background: $gray;
$badge-background: #9a3030;



$table-border: 1px solid $gray;